<template>
  <v-app>
    <v-content> 
      <v-container class="grey lighten-5">
        <v-row>
          <v-col cols="12">
            <v-card class="pa-4" outlined tile>
              <h3>Configure your ideal System76 laptop</h3>
              <h4>Drag the sliders to select your specs.  The systems and their *prices will update to reflect your selections!</h4>
              <h4>Check out the (subpar) source on GitLab: <a href="https://gitlab.com/joelweirauch/system76-superfan-recommender" target="_blank">https://gitlab.com/joelweirauch/system76-superfan-recommender</a></h4>
              <h6>*this is an unofficial demo project, prices and configurations are not guaranteed to be correct</h6>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="6">
            <v-card class="pa-4" outlined tile>
              <v-slider v-model="displaySize" :tick-labels="displaySizes" :min="0" :max="5" label="Display Size"></v-slider>
              <v-slider v-model="gfxType" :tick-labels="gfxTypes" :min="0" :max="2" label="Graphics Type"></v-slider>
              <v-slider v-model="cpuSpeed" :min="0" :max="5" :tick-labels="cpuSpeeds" label="CPU Speed"></v-slider>
              <v-slider v-model="memory" :min="0" :max="4" :tick-labels="memoryOptions" label="Memory"></v-slider>
              <v-slider v-model="diskSpace" :min="0" :max="5" :tick-labels="hddSpace" label="Hard Drive Space"></v-slider>
            </v-card>
          </v-col>
          <v-col cols="12" sm="6">
            <v-card class="pa-4" outlined tile>
              <v-container fluid>
                <v-row>
                  <img src="/logo.png" style="height: 75px; margin: 0 auto">
                </v-row>
                <v-row>
                  <v-col v-for="(system, index) in visibleSystems" :key="index" class="d-flex child-flex" cols="4">
                    <v-card flat tile>
                      <v-img style="margin: 0 auto" :src="system.img" max-width="200"></v-img>
                      <h4 class="text-center">{{ system.name }}</h4>
                      <h5 v-if="system.customizedMinCost == system.customizedMaxCost" class="text-center">{{ system.customizedMinCost | currency }}</h5>
                      <h5 v-else class="text-center">{{ system.customizedMinCost | currency }} - {{ system.customizedMaxCost | currency }}</h5>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    displaySize: 0,
    gfxType: 0,
    cpuCoreCount: 0,
    cpuSpeed: 0,
    memory: 0,
    diskSpace: 0,
    diskCount: 0,
    displaySizes: ['Any', '14"','15.6"','16.1"','17.3"'],
    gfxTypes: ['Any', 'integrated', 'dedicated'],
    cpuSpeeds: ['Any', '3.9 GHz', '4.5 GHz', '4.6 GHz', '4.9 GHz', '5 GHz'],
    memoryOptions: ['Any', '8 GB', '16 GB', '32 GB', '64 GB'],
    hddSpace: ['Any', '240 GB', '250 GB', '500 GB', '1 TB', '2 TB'],
    systems: [
      {
        name: 'Galago Pro',
        img: 'https://d1vhcvzji58n1j.cloudfront.net/assets/products/galp3/thumb-c1f3667f1e.png',
        baseCost: 949,
        customizedMinCost: 949,
        customizedMaxCost: 949,
        visible: false,
        customizations: {
          display: [{index: 1, cost: 0}],
          gfx: [1],
          cpu: [{index: 1, cost: 0}, {index: 2, cost: 199}],
          memory: [{index: 1, cost: 0}, {index: 2, cost: 99}, {index: 3, cost: 249}],
          hdd: [{index: 1, cost: [0]}, {index: 2, cost: [85]}, {index: 3, cost: [79,145]}, {index: 4, cost: [149, 315]}, {index: 5, cost: [345, 715]}]
        }
      },
      {
        name: 'Darter Pro',
        img: 'https://d1vhcvzji58n1j.cloudfront.net/assets/products/darp5/thumb-19e66f64f7.png',
        baseCost: 1199,
        customizedMinCost: 1199,
        customizedMaxCost: 1199,
        visible: false,
        customizations: {
          display: [{index: 1, cost: 0}],
          gfx: [1],
          cpu: [{index: 3, cost: 0}],
          memory: [{index: 1, cost: 0}, {index: 2, cost: 99}, {index: 3, cost: 249}],
          hdd: [{index: 1, cost: [0]}, {index: 2, cost: [85]}, {index: 3, cost: [79,145]}, {index: 4, cost: [149, 315]}, {index: 5, cost: [345, 715]}]
        }
      },
      {
        name: 'Gazelle',
        img: 'https://d1vhcvzji58n1j.cloudfront.net/assets/products/gaze14/thumb-2a6f0b5c2b.png',
        baseCost: 1149,
        customizedMinCost: 1149,
        customizedMaxCost: 1149,
        visible: false,
        customizations: {
          display: [{index: 2, cost: 0}, {index: 4, cost: 75}],
          gfx: [1, 2],
          cpu: [{index: 2, cost: 0}],
          memory: [{index: 1, cost: 0}, {index: 2, cost: 99}, {index: 3, cost: 249}, {index: 4, cost: 599}],
          hdd: [{index: 1, cost: [0]}, {index: 2, cost: [85]}, {index: 3, cost: [79,145]}, {index: 4, cost: [149, 315]}, {index: 5, cost: [345, 715]}]
        }

      },
      {
        name: 'Oryx Pro',
        img: 'https://d1vhcvzji58n1j.cloudfront.net/assets/products/oryp5/thumb-87a5bfc6b7.png',
        baseCost: 1699,
        customizedMinCost: 1699,
        customizedMaxCost: 1699,
        visible: false,
        customizations: {
          display: [{index: 3, cost: 0}, {index: 4, cost: 49}],
          gfx: [1, 2],
          cpu: [{index: 2, cost: 0}],
          memory: [{index: 1, cost: 0}, {index: 2, cost: 99}, {index: 3, cost: 249}, {index: 4, cost: 599}],
          hdd: [{index: 1, cost: [0]}, {index: 2, cost: [85]}, {index: 3, cost: [79,145]}, {index: 4, cost: [149, 315]}, {index: 5, cost: [345, 715]}]
        }

      },
      {
        name: 'Adder WS',
        img: 'https://d1vhcvzji58n1j.cloudfront.net/assets/products/addw1/thumb-1a01d2d43e.png',
        baseCost: 2199,
        customizedMinCost: 2199,
        customizedMaxCost: 2199,
        visible: false,
        customizations: {
          display: [{index: 2, cost: 0}],
          gfx: [1, 2],
          cpu: [{index: 2, cost: 0}, {index: 4, cost: 499}],
          memory: [{index: 1, cost: 0}, {index: 2, cost: 99}, {index: 3, cost: 249}, {index: 4, cost: 659}],
          hdd: [{index: 1, cost: [0]}, {index: 2, cost: [85]}, {index: 3, cost: [79,145]}, {index: 4, cost: [149, 315]}, {index: 5, cost: [345, 715]}]
        }

      },
      {
        name: 'Serval WS',
        img: 'https://d1vhcvzji58n1j.cloudfront.net/assets/products/serw11/thumb-045acbe0a2.png',
        baseCost: 1999,
        customizedMinCost: 1999,
        customizedMaxCost: 1999,
        visible: false,
        customizations: {
          display: [{index: 2, cost: 0}, {index: 4, cost: 379}],
          gfx: [1, 2],
          cpu: [{index: 3, cost: 0}, {index: 4, cost: 199}, {index: 5, cost: 325}],
          memory: [{index: 1, cost: 0}, {index: 2, cost: 99}, {index: 3, cost: 249}, {index: 4, cost: 659}],
          hdd: [{index: 1, cost: [0]}, {index: 2, cost: [85]}, {index: 3, cost: [79,145]}, {index: 4, cost: [149, 315]}, {index: 5, cost: [345, 715]}]
        }

      },
    ]
  }),
  computed: {
    visibleSystems: function() {
      var r = []
      var vm = this

      this.systems.forEach(function(system) {
        var visible = false
        system.customizedMinCost = system.baseCost
        system.customizedMaxCost = system.baseCost

        if (vm.displaySize == 0 || system.customizations.display.findIndex(s => s.index === vm.displaySize) >= 0) {
          visible = true
          let index = system.customizations.display.findIndex(s => s.index === vm.displaySize) 
          if (index >= 0) {
            system.customizedMinCost = system.baseCost + system.customizations.display[index].cost
            system.customizedMaxCost = system.customizedMinCost
          }
        } else {
          visible = false
        }

        if (visible === true && (vm.gfxType == 0 || system.customizations.gfx.includes(vm.gfxType))) {
          visible = true
        } else {
          visible = false
        }

        if (visible === true && (vm.cpuSpeed == 0 || system.customizations.cpu.findIndex(s => s.index === vm.cpuSpeed) >= 0)) {
          visible = true
          let index = system.customizations.cpu.findIndex(s => s.index === vm.cpuSpeed) 
          if (index >= 0) {
            system.customizedMinCost += system.customizations.cpu[index].cost
            system.customizedMaxCost = system.customizedMinCost
          }
        } else {
          visible = false
        }

        if (visible === true && (vm.memory == 0 || system.customizations.memory.findIndex(s => s.index === vm.memory) >= 0)) {
          visible = true
          let index = system.customizations.memory.findIndex(s => s.index === vm.memory) 
          if (index >= 0) {
            system.customizedMinCost += system.customizations.memory[index].cost
            system.customizedMaxCost = system.customizedMinCost
          }
        } else {
          visible = false
        }

        if (visible === true && (vm.diskSpace == 0 || system.customizations.hdd.findIndex(s => s.index === vm.diskSpace) >= 0)) {
          visible = true
          let index = system.customizations.hdd.findIndex(s => s.index === vm.diskSpace) 
          if (index >= 0) {
            if (system.customizations.hdd[index].cost.length > 1) {
              system.customizedMaxCost = system.customizedMinCost + system.customizations.hdd[index].cost[1]
              system.customizedMinCost = system.customizedMinCost + system.customizations.hdd[index].cost[0]
            } else {
              system.customizedMinCost += system.customizations.hdd[index].cost[0]
            }

          }
        } else {
          visible = false
        }

        if (visible === true) {
          r.push(system)
        }
      })

      return r
    }
  }
};
</script>
